.hero {
  height: 100vh;
  color: $white;
  background-color: $cloud;
  background-image: url('../images/header/background_hero.png');
  background-repeat: no-repeat;
  background-size: cover;

  .col {
    margin-top: 25vh;

    img {
      width: 10em;
      margin-bottom: .01em;
    }
    h1 {
      margin:.6em;
    }
    p {
      width: 50vw;
      line-height: 1.5em;
      font-weight: 300;
      font-size: 1.2em;
    }

  } // col

  a.btn-circle {
    font-size: 1.5em;
    color: $white;
    display: inline-block;
    margin: 10px;
    margin-top: 1.5em;
    border-radius: 90px;
  }

} // hero
