$font: 'Poppins', sans-serif;

// font-color
$orange: #fc8412;
$neorange: #fbbc04;
$orange-2nd: #F86339;
$white: #fff;
$dark-blue: #333055;
$blue: #01385f;
$black: #222;
$dark-black: #111;
$cloud: #ecf0f1;
$lynx-white: #f5f6fa;
$dark-blur: rgba(0,0,0,.2);
$blue-proclub: #357df5;
$purple: #5c335b;
$red: #d24341;
$neopurple: #4a335a;
$silver: #bdc3c7;
